.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background-color: #d6e6f2;
  text-align: center;
  color : #4e89ae;
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/922548032612879282/D6BED2D338045E4758A26F31116D940365A7F634/");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
}

.App-header {
  background-color: #769fcd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
 }
 .activeCard {
  color: #eeeeee;
  background: #00adb5;
 }